{% extends 'music_nation/base.html' %}

{%block title%}
{%endblock%}
{%block content%}
<pre>
SUDO username : bunny
password : bunny@123
email : bunny@carrots.com

artists password : artist@123
artist username : &lt;capitalized_artist_first_name&gt;_&lt;capitalized_artist_last_name&gt;
</pre><hr/>
<div>
  <ul class="home-list">
    {% for album in albums %}
      <li >
        <span><a class="home-a" href="{% url 'music_nation:album_detail' username=album.album_artist album=album.album_name %}">
          <img src="{{ album.album_logo.url }}" style="width:100px">
        </a></span>
         <span style="color:#007bff;">{{album.album_name}} by</span>
        <a class="home-a" href="{% url 'music_nation:profile_detail' username=album.album_artist %}">
          {{album.album_artist}}
        </a>
      </li><hr/>
    {% endfor %}
  </ul>
</div>

{%endblock%}
